.center {
    text-align:center;
}
.bold {
    text: bold;
}
.purple {
    color: purple;
}
.uppercase {
    text-transform: uppercase;
}
#biologo {
    align-items: center;
    weight: 20px;
    height: 20px;
}